/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
    /* background-image: url("whatyoulistento.jpg"); */
    background-color: #eaec96;
}
 
a:visited {
    color:	#43c0ac;
    font-family: 'Quicksand', sans-serif;
}

a:link {
    color: #43c0ac;
    font-family: 'Quicksand', sans-serif;
}

a:hover {
    color: #a93199;
    font-family: 'Quicksand', sans-serif;
}

ul {
    color: #17bebb;
    font-family: 'Quicksand', sans-serif;
}

label {
    color: #17bebb;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: #a93199;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    color:  #a93199;
    font-family: 'Quicksand', sans-serif;
}

h3 {
    color:  #a93199;
    font-family: 'Quicksand', sans-serif;
}

h4 {
    color:  #a93199;
    font-family: 'Quicksand', sans-serif;
}

h5 {
    color:  #a93199;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
}

p {
    color: #fa0559;
    font-family: 'Quicksand', sans-serif;
}

input[type=text] {
    border: 4px solid #43c0ac;
    color:  #fa0559;
    font-family: 'Quicksand', sans-serif;
}

input[type=text]:focus {
    border: 4px solid #43c0ac;
    color:  #fa0559;
    outline: none;
}

textarea {
    border: 4px solid #43c0ac;
    color:  #fa0559;
    font-family: 'Quicksand', sans-serif;
}

textarea:focus {
    border: 4px solid #43c0ac;
    color:  #fa0559;
    outline: none;
}

input[type=submit] {
    background-color: #fa0559;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 8px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

input[type=submit]:active {
    transform: scale(0.85);
}

/* div#body {
    background-image: url(".../public/images/whatyoulistento.jpg")
} */
