<% if object.errors.any? %>
    <div id="field_with_errors">
        <h3>Please correct <%= pluralize(object.errors.count, "error") %></h3>

        <ul>
            <% object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>